.product__container {
  @apply flex flex-col md:flex-row gap-6 p-6 bg-white rounded-lg shadow-md;
}

.product-image__container {
  @apply flex items-center justify-center w-full md:w-[300px] h-auto;
}

.product-image__container img {
  @apply object-contain max-w-full max-h-full rounded-md;
}

.product-description__container {
  @apply flex flex-col gap-4 flex-1 border border-gray-300 bg-blue-50 rounded-lg p-6;
}

.product__name {
  @apply text-2xl font-bold text-blue-700;
}

.product__price {
  @apply text-red-600 text-xl font-semibold;
}

.product__avaiability {
  @apply text-red-600 text-sm font-medium;
}

label {
  @apply text-sm font-medium mt-4;
}

input {
  @apply w-16 p-2 border border-gray-300 rounded text-center;
}

.add-to-cart {
  @apply bg-blue-600 text-white text-lg px-4 py-2 rounded-md mt-4 transition hover:bg-blue-700 active:scale-95 cursor-pointer;
}

.add-to-cart {
  @apply w-full md:w-auto;
}