.cart-title {
  @apply text-4xl font-bold text-gray-700 py-2;
}

.cart-item {
  @apply flex items-center justify-between h-24 rounded-lg shadow-md overflow-hidden px-4;
}

.cart-image {
  @apply w-24 h-24 object-cover rounded;
}

.remove-button {
  @apply bg-red-500 text-white px-4 h-full transition hover:brightness-90 rounded-r;
}

.cart-total {
  @apply text-2xl font-bold text-gray-700 py-2;
}

.buy-button {
  @apply bg-white text-red-600 border border-red-600 rounded px-4 py-2 font-bold text-lg mb-3 transition hover:bg-red-600 hover:text-white;
}
