.home-container {
  .home-bg {
    background-image: linear-gradient(
      135deg,
      #0000FF 0%,   // azul forte
      #FFFFFF 50%,  // faixa branca
      #FF0000 100%  // vermelho forte
    );
    background-size: cover;
    background-position: center;
    transform: scale(1);
    animation: zoomForward 20s ease-in-out infinite alternate;
  }
}
